$color-black: #4a4a4a;
$color-white: #ffffff;
$color-brown: #c8ac8b;
$color-brown-light: #f8eff1;

body, html {
    margin: 0;
    padding: 0;
    outline: none;
    line-height: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-black;
}

h1, h2, h3, h4, h5, h6, p, a, button, input {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-shadow: none;
    list-style: none;
    color: $color-black;
    outline: none;

    &:hover {
        color: $color-black;
        text-decoration: none;
        text-transform: none;
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

button {
    border: none;
    cursor: pointer;
}

a {
    display: flex;
    flex-direction: row;
}

#modal_thank {
    padding-right: 0 !important;
    .modal-dialog {
        max-width: 650px;
    }
    .modal-content {
        border-radius: 0;
        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 30px;
            .title {
                font-family: "Vogue Highline Serif Medium";
                font-size: 30px;
                text-align: center;
                margin-bottom: 15px;
                text-shadow: $color-black 1px 0 0;
            }
            .text {
                font-size: 18px;
                text-align: center;
                width: 100%;
                max-width: 380px;
                padding: 0 15px;
                margin-bottom: 25px;
            }
            .custom_btn {
                width: 240px;
                padding: 12px 0;
                background-color: $color-brown-light;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}

#modal_request {
    padding-right: 0 !important;
    .modal-dialog {
        max-width: 650px;
    }
    .modal-content {
        border-radius: 0;
        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 15px 55px 15px;
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
            .title {
                font-family: "Vogue Highline Serif Medium";
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
                text-shadow: $color-black 1px 0 0;
            }
            .form_container {
                input {
                    border: 1px solid #4a4a4a;
                    font-size: 14px;
                    font-weight: 300;
                    background-color: transparent;
                    padding: 12px 13px;
                    margin-bottom: 25px;
                    width: 100%;
                    &.error {
                        border: 1px solid #df0000;
                        &::placeholder {
                            color: #df0000;
                        }
                    }
                    &::placeholder {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                .custom_btn {
                    width: 100%;
                    background-color: $color-brown-light;
                    padding: 12px 0;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
        .image_container {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 120px;
            height: 120px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#myModal {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: row;
    align-items: center;
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: 700;
        transition: .3s;
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 930px;
        animation-name: a;
        animation-duration: .6s;
        position: relative;
        pointer-events: auto;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
        padding: 0 15px;
        @keyframes a {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}