body, html {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-shadow: none;
  list-style: none;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, a:hover {
  color: #000;
  text-decoration: none;
  text-transform: none;
}
