@font-face {
	font-family: 'Vogue Highline Serif';
	src: url('../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.eot');
	src: url('../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.woff2') format('woff2'),
	url('../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.woff') format('woff'),
	url('../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

