@font-face {
  font-family: "Ossem Rust";
  src: url("../fonts/Oseem Rust/Ossem-Rust.eot");
  src: url("../fonts/Oseem Rust/Ossem-Rust.woff2") format("woff2"), url("../fonts/Oseem Rust/Ossem-Rust.woff") format("woff"), url("../fonts/Oseem Rust/Ossem-Rust.ttf") format("truetype"), url("../fonts/Oseem Rust/Ossem-Rust.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Whipsmart Regular";
  src: url("../fonts/Whipsmart/Whipsmart.woff") format("woff"), url("../fonts/Whipsmart/Whipsmart.ttf") format("truetype");
  src: url("../fonts/Whipsmart/WhipsmartRegular_0.eot");
  src: url("../fonts/Whipsmart/WhipsmartRegular_0.woff2") format("woff2"), url("../fonts/Whipsmart/WhipsmartRegular_0.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Whipsmart Bold";
  src: url("../fonts/Whipsmart/Whipsmart-Bold.woff") format("woff"), url("../fonts/Whipsmart/Whipsmart-Bold.ttf") format("truetype");
  src: url("../fonts/Whipsmart/WhipsmartBold.eot");
  src: url("../fonts/Whipsmart/WhipsmartBold.woff2") format("woff2"), url("../fonts/Whipsmart/WhipsmartBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
