@charset "UTF-8";
@font-face {
	font-family: "Vogue Highline Serif";
	src: url("../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.eot");
	src: url("../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.woff2") format("woff2"), url("../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.woff") format("woff"), url("../fonts/Vogue Highline Serif/VogueHighlineSerif-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

body, html {
	margin: 0;
	padding: 0;
	line-height: normal;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6, p, a, button, input {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-shadow: none;
	list-style: none;
	color: #4a4a4a;
	outline: none;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, a:hover, button:hover, input:hover {
	color: #4a4a4a;
	text-decoration: none;
	text-transform: none;
	outline: none;
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, a:focus, button:focus, input:focus {
	outline: none;
}

button {
	border: none;
	cursor: pointer;
}

a {
	display: flex;
	flex-direction: row;
}

#modal_thank {
	padding-right: 0 !important;
}

#modal_thank .modal-dialog {
	max-width: 70%;
}

#modal_thank .modal-content {
	border-radius: 0;
}

#modal_thank .modal-content .modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 30px;
}

#modal_thank .modal-content .modal-body .logo_container {
	width: 200px;
	margin: 0 auto 25px auto;
}

#modal_thank .modal-content .modal-body .logo_container img {
	width: 100%;
	height: 100%;
}

#modal_thank .modal-content .modal-body .title {
	font-family: "Vogue Highline Serif Medium";
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
	text-shadow: #4a4a4a 1px 0 0;
}

#modal_thank .modal-content .modal-body .text {
	font-size: 18px;
	text-align: center;
	width: 100%;
	max-width: 380px;
	padding: 0 15px;
	margin: 0 auto 50px auto;
}

#modal_thank .modal-content .modal-body .timer_container {
	width: 100%;
	max-width: 360px;
	margin: 0 auto 40px auto;
}

#modal_thank .modal-content .modal-body .timer_container .sub_title {
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	letter-spacing: 1.31px;
	text-align: center;
	margin-bottom: 15px;
}

#modal_thank .modal-content .modal-body .timer_container #timer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#modal_thank .modal-content .modal-body .timer_container #timer .date_block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal_thank .modal-content .modal-body .timer_container #timer .date_block .num {
	color: #000;
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 4.69px;
}

#modal_thank .modal-content .modal-body .timer_container #timer .date_block p {
	position: relative;
	font-size: 20px;
	letter-spacing: 4.17px;
	color: #000;
	padding: 0 10px;
}

#modal_thank .modal-content .modal-body .timer_container #timer .date_block p:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #979797;
	height: 2px;
}

#modal_thank .modal-content .modal-body .custom_btn {
	width: 240px;
	padding: 12px 0;
	background-color: #f8eff1;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}

#modal_request {
	padding-right: 0 !important;
}

#modal_request .modal-dialog {
	max-width: 650px;
}

#modal_request .modal-content {
	border-radius: 0;
}

#modal_request .modal-content .modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 15px 55px 15px;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

#modal_request .modal-content .modal-body .title {
	font-family: "Vogue Highline Serif Medium";
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: #4a4a4a 1px 0 0;
}

#modal_request .modal-content .modal-body .form_container input {
	border: 1px solid #4a4a4a;
	font-size: 14px;
	font-weight: 300;
	background-color: transparent;
	padding: 12px 13px;
	margin-bottom: 25px;
	width: 100%;
}

#modal_request .modal-content .modal-body .form_container input.error {
	border: 1px solid #df0000;
}

#modal_request .modal-content .modal-body .form_container input.error::placeholder {
	color: #df0000;
}

#modal_request .modal-content .modal-body .form_container input::placeholder {
	font-size: 14px;
	font-weight: 300;
}

#modal_request .modal-content .modal-body .form_container .custom_btn {
	width: 100%;
	background-color: #f8eff1;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

#modal_request .modal-content .image_container {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 120px;
	height: 120px;
}

#modal_request .modal-content .image_container img {
	width: 100%;
	height: 100%;
}

#myModal {
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	flex-direction: row;
	align-items: center;
}

#myModal .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: 700;
	transition: 0.3s;
}

#myModal .modal-content {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 930px;
	animation-name: a;
	animation-duration: 0.6s;
	position: relative;
	pointer-events: auto;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
	padding: 0 15px;
}

@keyframes a {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 998;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .container-fluid {
	padding: 0 25px;
}

header .red_image_header {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 120px;
}

header .red_image_header img {
	width: 100%;
	height: 100%;
}

header .nav_block {
	padding: 25px 0 10px 0;
}

header .nav_block.left {
	margin-right: 40px;
}

header .nav_block.right {
	margin-left: 40px;
}

header .nav_block .top_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #d8d8d8;
}

header .nav_block .top_row.socials {
	justify-content: flex-end;
}

header .nav_block .top_row.socials .ico_container {
	margin-right: 40px;
}

header .nav_block .top_row .ico_container {
	margin-right: 10px;
}

header .nav_block .top_row .ico_container a img {
	width: 20px;
	height: 20px;
}

header .nav_block .top_row .ico_container:last-child {
	margin-right: 0;
}

header .nav_block .top_row .text a {
	font-size: 16px;
	font-weight: 300;
}

header .nav_block .nav_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
}

header .nav_block .nav_row a {
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}

header .logo_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

header .logo_container img {
	width: 100%;
	height: auto;
}

main .section_main {
	position: relative;
	margin-top: 102px;
}

main .section_main .section_image {
	position: relative;
	height: 100%;
}

main .section_main .section_image img {
	width: 100%;
	height: 100%;
}

main .section_main .section_image .block_description .title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

main .section_main .section_image .block_description .title.first {
	top: 60px;
	left: 55%;
}

main .section_main .section_image .block_description .title.first h1 {
	font-size: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #6e543d;
	letter-spacing: 0.6px;
	padding: 12px;
	background-color: #ffffff;
}

main .section_main .section_image .block_description .title.second {
	top: 160px;
}

main .section_main .section_image .block_description .title.second h1 {
	color: #fefefe;
	font-size: 41px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.46px;
}

main .section_main .section_image .block_description .title.third {
	top: 225px;
	left: 53%;
}

main .section_main .section_image .block_description .title.third h1 {
	color: #6e543d;
	font-family: "Vogue Highline Serif";
	font-size: 118px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1.44px;
}

main .section_main .section_image .block_description .title.last {
	bottom: 130px;
	width: 100%;
	max-width: 390px;
	left: 55%;
}

main .section_main .section_image .block_description .title.last h1 {
	color: #6e543d;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	text-align: center;
}

main .section_main .section_image .block_description .main_btn {
	position: absolute;
	left: 55%;
	transform: translateX(-50%);
	bottom: 60px;
}

main .section_main .section_image .block_description .main_btn .btn_request {
	width: 220px;
	background-color: #c8ac8b;
	text-transform: uppercase;
	font-size: 18px;
	padding: 13px 0;
	color: #ffffff;
}

main .section_main .bottom_info {
	padding: 20px 0;
	height: 100%;
	background-color: #c8ac8b;
}

main .section_main .bottom_info .row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

main .section_main .bottom_info .container, main .section_main .bottom_info .row, main .section_main .bottom_info .col-4 {
	height: 100%;
}

main .section_main .bottom_info .col-4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
}

main .section_main .bottom_info .col-4 .ico_container {
	margin-right: 15px;
}

main .section_main .bottom_info .col-4 .text p {
	font-size: 24px;
	color: #2f241a;
	text-align: center;
	font-weight: 500;
}

main .section_questions {
	padding: 80px 0;
}

main .section_questions .section_title {
	margin-bottom: 30px;
}

main .section_questions .section_title h1 {
	font-family: "Vogue Highline Serif";
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #4a4a4a;
	font-weight: 900;
}

main .section_questions .section_sub_title {
	padding: 13px 0;
	background-color: #f8eff1;
	margin-bottom: 40px;
}

main .section_questions .section_sub_title h3 {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

main .section_questions .section_image {
	height: 400px;
	margin-bottom: 60px;
}

main .section_questions .section_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main .section_questions .questions_block {
	margin-bottom: 60px;
}

main .section_questions .questions_block .col-xl-4 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

main .section_questions .questions_block .col-xl-4 .ico_container {
	display: flex;
	flex-grow: 2;
	width: auto;
	height: 130px;
}

main .section_questions .questions_block .col-xl-4 .ico_container img {
	width: auto;
	height: 100%;
}

main .section_questions .questions_block .col-xl-4 .text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 25px;
}

main .section_questions .questions_block .col-xl-4 .text p {
	font-size: 28px;
	font-weight: 700;
}

main .section_questions .questions_block .col-xl-4 .text p span {
	background-color: #f8eff1;
}

main .section_questions .section_bottom_title {
	position: relative;
	padding: 10px 15px;
	background-color: #f8eff1;
}

main .section_questions .section_bottom_title:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid #9b9b9b;
	transform: translate(20px, 20px);
	z-index: -1;
}

main .section_questions .section_bottom_title h1 {
	font-family: "Vogue Highline Serif";
	font-size: 31px;
	text-align: center;
	text-shadow: #4a4a4a 1px 0px 0px;
}

main .section_speaker {
	padding-bottom: 80px;
	overflow: hidden;
}

main .section_speaker .section_title {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main .section_speaker .section_title h1 {
	transform: rotate(-90deg);
	opacity: 0.4;
	font-family: "Vogue Highline Serif";
	font-size: 48px;
	text-transform: uppercase;
	white-space: nowrap;
}

main .section_speaker .speaker_image {
	width: 100%;
	padding-right: 75px;
}

main .section_speaker .speaker_image img {
	width: 100%;
	height: 100%;
}

main .section_speaker .speaker_info {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main .section_speaker .speaker_info .block_title {
	position: relative;
	margin-bottom: 30px;
}

main .section_speaker .speaker_info .block_title:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 9999px;
	background-color: #f8eff1;
	z-index: -1;
}

main .section_speaker .speaker_info .block_title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 36px;
	text-shadow: #4a4a4a 1px 0px 0px;
	padding-left: 30px;
}

main .section_speaker .speaker_info .block_info p {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

main .section_speaker .speaker_info .block_info p span {
	font-weight: 400;
}

main .section_inst {
	padding-bottom: 30px;
}

main .section_inst .section_title {
	margin-bottom: 30px;
	text-align: center;
}

main .section_inst .section_title a {
	display: inline-block;
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	text-shadow: #4a4a4a 1px 0px 0px;
}

main .section_inst .row .col-4 {
	padding-right: 30px;
}

main .section_inst .inst_block {
	margin-bottom: 50px;
	cursor: pointer;
	transition: opacity 0.5s ease-out;
}

main .section_inst .inst_block:hover {
	opacity: 0.7;
}

main .section_inst .inst_block .image_container {
	width: 100%;
	height: 360px;
	margin-bottom: 15px;
}

main .section_inst .inst_block .image_container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

main .section_inst .inst_block .tag p {
	font-size: 30px;
	word-break: break-word;
	text-align: center;
}

main .section_review .section_title {
	margin-bottom: 30px;
}

main .section_review .section_title h1 {
	text-align: center;
	font-family: "Vogue Highline Serif Medium";
	font-size: 30px;
	text-shadow: #4a4a4a 1px 0px 0px;
	margin-bottom: 5px;
}

main .section_review .section_title h4 {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	width: 100%;
	max-width: 530px;
	margin: 0 auto;
}

main .section_review .review_block {
	padding: 20px 0 30px;
	background-color: #4a4a4a;
}

main .section_review .review_block .container .row:nth-child(2) {
	position: relative;
}

main .section_review .review_block .container .row:nth-child(2):before {
	content: "";
	position: absolute;
	top: 0;
	left: 25px;
	bottom: 0;
	right: 0;
	border: 1px solid #ffffff;
}

main .section_review .review_block .reviewer_info {
	margin-bottom: 20px;
}

main .section_review .review_block .reviewer_info .name {
	font-family: "Vogue Highline Serif Medium";
	font-size: 36px;
	text-shadow: #ffffff 1px 0px 0px;
	color: #ffffff;
}

main .section_review .review_block .reviewer_info .info {
	color: #ffffff;
	font-size: 16px;
}

main .section_review .review_block .reviewer_image {
	position: absolute;
	top: -75px;
	left: 0;
	width: 300px;
}

main .section_review .review_block .reviewer_image img {
	width: 100%;
	height: 100%;
}

main .section_review .review_block .review_quote {
	position: relative;
}

main .section_review .review_block .review_quote .quote_ico {
	position: absolute;
	width: 43px;
	z-index: 2;
}

main .section_review .review_block .review_quote .quote_ico.left {
	top: -20px;
	left: -85px;
}

main .section_review .review_block .review_quote .quote_ico.right {
	bottom: -10px;
	right: -15px;
	transform: rotate(-180deg);
}

main .section_review .review_block .review_quote .quote_ico img {
	width: 100%;
	height: 100%;
}

main .section_review .review_block .review_quote p {
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
	padding: 20px 30px 20px 0;
}

main .section_review .review_video {
	padding: 30px 0 85px;
	text-align: center;
}

main .section_review .review_video video {
	display: flex;
	width: 770px;
	height: 430px;
	margin: 0 auto;
}

main .section_review_photo {
	padding-bottom: 80px;
}

main .section_review_photo .section_title {
	margin-bottom: 40px;
}

main .section_review_photo .section_title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: #4a4a4a 1px 0px 0px;
}

main .section_review_photo .row .col-4 {
	padding-right: 30px;
}

main .section_review_photo .image_container {
	position: relative;
	cursor: pointer;
	transition: opacity 0.5s ease-out;
}

main .section_review_photo .image_container:hover {
	opacity: 0.7;
}

main .section_review_photo .image_container:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f8eff1;
	transform: translate(10px, 10px);
	z-index: -1;
}

main .section_review_photo .image_container img {
	width: 100%;
	height: 100%;
}

main .section_program .section_title {
	margin-bottom: 100px;
}

main .section_program .section_title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 30px;
	text-shadow: #4a4a4a 1px 0px 0px;
	text-align: center;
}

main .section_program .row {
	margin-bottom: 100px !important;
}

main .section_program .row.second {
	margin-bottom: 130px !important;
}

main .section_program .row.second .program_info .title_date {
	padding-left: 80px;
}

main .section_program .row.second .program_info .program_text {
	border: none;
	background-color: #f8eff1;
	padding: 50px 0;
}

main .section_program .row.second .program_info .program_text ul {
	padding-left: 80px;
	padding-right: 35px;
}

main .section_program .row.last {
	margin-bottom: 0px !important;
}

main .section_program .row.last .program_info .program_text {
	border: none;
	padding-bottom: 0;
}

main .section_program .row.last .program_info .program_text ul {
	padding-left: 20px;
	padding-right: 125px;
	margin-bottom: 20px;
}

main .section_program .row.last .program_images .image_container {
	top: unset;
	transform: none;
	bottom: 0;
	height: 375px;
}

main .section_program .row.last .program_images .first {
	z-index: 2;
}

main .section_program .row.last .program_images .second {
	margin-top: -30px;
	z-index: 1;
	transform: translateY(-30px);
}

main .section_program .program_info .title_date {
	transform: translateY(10px);
}

main .section_program .program_info .title_date h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	text-shadow: #4a4a4a 1px 0px 0px;
}

main .section_program .program_info .program_text {
	border: 1px solid #9b9b9b;
	padding: 30px 0;
}

main .section_program .program_info .program_text ul {
	padding-left: 60px;
	padding-right: 50px;
	margin-bottom: 0;
}

main .section_program .program_info .program_text ul li {
	font-size: 16px;
	font-weight: 300;
}

main .section_program .program_info .program_text .btn_request .custom_btn {
	width: 350px;
	font-size: 14px;
	font-weight: 300;
	background-color: #fae5e8;
	text-align: center;
	padding: 12px 0;
	cursor: pointer;
	box-shadow: none;
	border: none;
}

main .section_program .program_info .program_text .btn_request .custom_btn:focus {
	outline: none;
}

main .section_program .program_images .image_container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 270px;
	height: 400px;
}

main .section_program .program_images .image_container.first {
	left: 0;
}

main .section_program .program_images .image_container.second {
	margin-top: 30px;
	right: 0;
	z-index: 1;
}

main .section_program .program_images .image_container img {
	width: 100%;
	height: 100%;
}

main .section_request {
	padding: 70px 0;
	margin-top: 45px;
	background: url("../images/request/записаться на семинар.jpg") no-repeat center center;
	background-size: cover;
}

main .section_request .request_block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .section_request .request_block .title {
	margin-bottom: 40px;
}

main .section_request .request_block .title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	color: #ffffff;
	text-shadow: #fff 1px 0 0;
}

main .section_request .request_block .form_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

main .section_request .request_block .form_container input {
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	border: 1px solid #ffffff;
	margin-bottom: 25px;
	padding: 12px 13px;
	background-color: transparent;
}

main .section_request .request_block .form_container input.error {
	border: 1px solid #df0000;
}

main .section_request .request_block .form_container input.error::placeholder {
	color: #df0000;
}

main .section_request .request_block .form_container input::placeholder {
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
}

main .section_request .request_block .form_container .btn_send .custom_btn {
	width: 100%;
	border: none;
	background-color: #f8eff1;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	padding: 12px 0;
	cursor: pointer;
}

main .section_work {
	padding: 65px 0;
}

main .section_work .section_title {
	margin-bottom: 15px;
}

main .section_work .section_title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	text-shadow: #4a4a4a 1px 0 0;
	text-align: center;
}

main .section_work .day_graphic {
	margin-bottom: 35px;
}

main .section_work .day_graphic .title {
	margin-bottom: 10px;
}

main .section_work .day_graphic .title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
}

main .section_work .day_graphic .day_program {
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.37);
	background-color: #ffffff;
	padding: 30px 15px 15px 30px;
}

main .section_work .day_graphic .day_program .list {
	margin-bottom: 20px;
	max-height: 40px;
	overflow: hidden;
	transition: all 0.7s ease-out;
}

main .section_work .day_graphic .day_program .list.fullShow {
	max-height: 300px;
}

main .section_work .day_graphic .day_program .list li {
	font-size: 16px;
	font-weight: 300;
}

main .section_work .day_graphic .day_program .show_more {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

main .section_work .day_graphic .day_program .show_more.isShow .arrow_ico {
	transform: rotate(-180deg);
	transition-delay: 0s;
}

main .section_work .day_graphic .day_program .show_more p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 5px;
}

main .section_work .day_graphic .day_program .show_more .arrow_ico {
	transition: transform 0.7s ease-out 0.4s;
}

main .section_certificate {
	background-color: #f8eff1;
	padding: 95px 0;
}

main .section_certificate .row {
	position: relative;
}

main .section_certificate .row .col-5 {
	overflow: hidden;
}

main .section_certificate .image_container {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

main .section_certificate .image_container img {
	width: 100%;
	height: 350px;
}

main .section_certificate .about_block {
	transform: translateX(70px);
	max-width: 420px;
}

main .section_certificate .about_block p {
	font-size: 18px;
	font-weight: 300;
}

main .section_certificate .about_block p.bold {
	font-family: "Vogue Highline Serif Medium";
	font-size: 26px;
}

main .section_seminar_info {
	padding: 60px 0 0 0;
}

main .section_seminar_info .info_block {
	margin-bottom: 50px;
}

main .section_seminar_info .info_block .image_container {
	text-align: center;
	margin-bottom: 25px;
}

main .section_seminar_info .info_block .image_container img {
	width: auto;
	height: auto;
}

main .section_seminar_info .info_block .text_info p {
	font-size: 16px;
	text-align: center;
}

main .section_seminar_info .btn_request {
	text-align: center;
}

main .section_seminar_info .btn_request .custom_btn {
	border: none;
	width: 350px;
	background-color: #4a4a4a;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	padding: 12px 0;
	cursor: pointer;
}

main .section_gallery {
	padding-top: 60px;
	padding-bottom: 80px;
}

main .section_gallery .section_title {
	margin-bottom: 25px;
	text-align: center;
}

main .section_gallery .section_title h1 {
	position: relative;
	display: inline-block;
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	text-shadow: #4a4a4a 1px 0 0;
	background-color: #ffffff;
	padding: 12px 25px;
	z-index: 2;
}

main .section_gallery .row {
	position: relative;
}

main .section_gallery .row:before {
	content: "";
	position: absolute;
	top: -55px;
	left: -25px;
	right: -25px;
	bottom: -10px;
	border: 1px solid #979797;
}

main .section_gallery .row .col-4 {
	margin-bottom: 30px;
}

main .section_gallery .image_container {
	height: 350px;
}

main .section_gallery .image_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main .section_price {
	background: url("../images/стоимость.jpg") no-repeat center;
	background-size: cover;
	padding: 50px 0 120px 0;
}

main .section_price .section_title {
	margin-bottom: 60px;
}

main .section_price .section_title h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	text-shadow: #4a4a4a 1px 0 0;
	text-align: center;
}

main .section_price .price_block {
	position: relative;
	margin-bottom: 30px;
}

main .section_price .price_block .price_row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

main .section_price .price_block .price_row .price_circle {
	position: relative;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
	background-color: #f8eff1;
	width: 260px;
	height: 260px;
	border-radius: 50%;
}

main .section_price .price_block .price_row .price_circle p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -2.67px;
}

main .section_price .price_block .price_row .price_circle p span {
	font-size: 36px;
	font-weight: 300;
}

main .section_price .price_block .price_row .price_days {
	margin-left: 60px;
}

main .section_price .price_block .price_row .price_days.left {
	margin-left: 100px;
	margin-right: 60px;
}

main .section_price .price_block .price_row .price_days p {
	font-family: "Vogue Highline Serif Medium";
	font-size: 40px;
	text-shadow: #4a4a4a 1px 0 0;
}

main .section_price .price_block .text_places {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 550px;
	padding: 15px 30px;
	background-color: #f8eff1;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
	transform: translateY(-50%) rotate(-10deg);
	z-index: 2;
}

main .section_price .price_block .text_places p {
	font-family: "Vogue Highline Serif Medium";
	font-size: 24px;
	color: #4a4a4a;
	text-shadow: #4a4a4a 1px 0 0;
	text-align: center;
}

main .section_price .bottom_request {
	width: 100%;
	max-width: 350px;
}

main .section_price .bottom_request .text {
	margin-bottom: 20px;
}

main .section_price .bottom_request .text p {
	font-size: 24px;
	line-height: normal;
	text-align: center;
}

main .section_price .bottom_request .request_btn .custom_btn {
	width: 100%;
	background-color: #4a4a4a;
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	padding: 18px 0;
	border: none;
	cursor: pointer;
}

main .section_discount {
	background-color: #4a4a4a;
	padding: 50px 0;
}

main .section_discount .title_about {
	width: 100%;
	max-width: 730px;
	margin: 0 auto 25px auto;
}

main .section_discount .title_about h1 {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	line-height: normal;
	font-weight: 400;
}

main .section_discount .form_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

main .section_discount .form_container input {
	width: 100%;
	border: 1px solid #ffffff;
	padding: 12px 13px;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 25px;
	color: #ffffff;
	background-color: transparent;
}

main .section_discount .form_container input.error {
	border: 1px solid #df0000;
}

main .section_discount .form_container input.error::placeholder {
	color: #df0000;
}

main .section_discount .form_container input:last-child {
	margin-bottom: 0;
}

main .section_discount .form_container .btn_discount {
	width: 100%;
	font-size: 16px;
	background-color: #df0000;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
	border: none;
	cursor: pointer;
}

main .section_map {
	position: relative;
}

main .section_map .map_container {
	width: 100%;
	height: 800px;
}

main .section_map .map_container iframe {
	width: 100%;
	height: 100%;
}

main .section_map .container {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 2;
}

main .section_map .address_info {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	padding: 12px 65px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

main .section_map .address_info h1 {
	font-family: "Vogue Highline Serif Medium";
	font-size: 33px;
	text-shadow: #4a4a4a 1px 0 0;
	text-align: center;
}

main .section_map .address_info .ico_container {
	width: 40px;
	margin: 0 20px;
}

main .section_map .address_info .text {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

footer {
	position: relative;
	padding: 50px 0;
	background-color: #4a4a4a;
	margin-bottom: 25px;
}

footer .nav_list {
	display: flex;
	flex-direction: column;
}

footer .nav_list a {
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}

footer .nav_list a:last-child {
	margin-bottom: 0;
}

footer .logo_container {
	position: absolute;
	top: -65px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	z-index: 2;
}

footer .right_block .socials_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 20px;
}

footer .right_block .socials_row .ico_container {
	margin-right: 30px;
}

footer .right_block .socials_row .ico_container img {
	width: 20px;
	height: 20px;
}

footer .right_block .socials_row .ico_container:last-child {
	margin-right: 0;
}

footer .right_block .info_block .info_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 15px;
}

footer .right_block .info_block .info_row:last-child {
	margin-bottom: 0;
}

footer .right_block .info_block .info_row .ico_container {
	margin-right: 15px;
}

footer .right_block .info_block .info_row .ico_container img {
	height: 20px;
}

footer .right_block .info_block .info_row a,
footer .right_block .info_block .info_row p {
	display: block;
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	width: 230px;
	word-break: break-word;
	text-align: right;
}

@media (max-width: 1199px) {
	.mobileLogoHeader {
		display: flex !important;
	}

	main .section_main .bottom_info .col-4 .text p {
		font-size: 28px;
		font-weight: 500;
	}

	main .section_questions .section_title h1 {
		font-size: 34px;
	}

	main .section_questions .section_sub_title h3 {
		font-size: 26px;
	}

	main .section_questions .questions_block .col-xl-4 .text p {
		font-size: 34px;
	}

	main .section_speaker .speaker_info {
		justify-content: center;
		height: auto;
	}

	main .section_speaker .speaker_image {
		padding-right: 0;
	}

	main .section_speaker .speaker_info .block_info p {
		font-size: 27px;
		line-height: 1.5;
	}

	main .section_program .program_info .title_date h1 {
		font-size: 34px;
	}

	main .section_program .program_info .program_text ul li {
		font-size: 24px;
	}

	main .section_program .program_info .program_text .btn_request .custom_btn {
		font-size: 18px;
	}

	main .section_work .day_graphic .day_program .list li {
		font-size: 18px;
	}

	main .section_certificate .about_block p {
		font-size: 24px;
	}

	main .section_certificate .about_block p.bold {
		font-size: 34px;
	}

	main .section_inst .inst_block .image_container img {
		object-position: center top;
	}

	header .nav_block.left {
		margin-right: 20px;
	}

	header .nav_block.right {
		margin-left: 20px;
	}

	main .section_main .bottom_info .container {
		max-width: 100%;
	}

	main .section_main .section_image .block_description {
		position: absolute;
		top: 20px;
		left: 56%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 450px;
	}

	main .section_main .section_image .block_description .title {
		position: relative;
		transform: none;
		top: 0 !important;
		left: 0 !important;
		margin-bottom: 20px;
	}

	main .section_main .section_image .block_description .title.first h1 {
		font-size: 19px;
	}

	main .section_main .section_image .block_description .title.second h1 {
		font-size: 36px;
	}

	main .section_main .section_image .block_description .title.third {
		margin-bottom: 25%;
	}

	main .section_main .section_image .block_description .title.third h1 {
		font-size: 85px;
		transform: translateX(-20px);
	}

	main .section_main .section_image .block_description .title.last h1 {
		font-size: 20px;
		transform: translateX(-60px);
		font-weight: 500 !important;
	}

	main .section_main .section_image .block_description .main_btn {
		position: relative;
		left: 0;
		transform: none;
		bottom: 0;
		transform: translateX(-60px);
	}

	main .section_review .review_block .reviewer_image {
		position: relative;
		top: 0;
		margin: 30px auto 0 auto;
	}

	main .section_review .review_block .container .row:nth-child(2):before {
		left: 0;
	}

	main .section_review .review_block .review_quote p {
		padding-left: 30px;
	}

	main .section_review .review_block .review_quote .quote_ico.left {
		left: -20px;
	}

	main .section_program .section_title {
		margin-bottom: 30px;
	}

	main .section_inst .container {
		max-width: 850px;
	}

	main .section_inst .inst_block .image_container {
		height: 420px;
	}

	main .section_program .program_images .image_container {
		position: relative;
		top: 0;
		transform: none;
	}

	main .section_program .program_images .image_container.first {
		margin-left: 15%;
	}

	main .section_program .program_images .image_container.second {
		position: absolute;
		right: 15%;
		margin-top: -30px;
	}

	main .section_price .container {
		max-width: 100%;
	}

	main .section_price .section_title h1 {
		text-align: left;
		padding-left: 60px;
	}

	main .section_price .price_block .price_row .price_days {
		margin-left: 40px;
	}

	main .section_price .price_block .price_row .price_days.left {
		margin-left: 60px;
		margin-right: 40px;
	}

	main .section_price .price_block .text_places {
		max-width: 480px;
	}

	main .section_certificate .row .col-5 {
		overflow: visible;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px !important;
	}

	select,
	textarea,
	input {
		font-size: 16px !important;
	}
}

.mobileLogoHeader {
	display: none;
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translate(10%);
}

.mobileLogoHeader img {
	width: 50px;
	height: 100%;
	margin-top: 14px;
}

.logo-slogan {
	width: 210px !important;
}

/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
	select, textarea, input[type="text"], input[type="password"],
	input[type="datetime"], input[type="datetime-local"],
	input[type="date"], input[type="month"], input[type="time"],
	input[type="week"], input[type="number"], input[type="email"],
	input[type="url"] {
		font-size: 16px !important;
	}
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
	select, textarea, input[type="text"], input[type="password"],
	input[type="datetime"], input[type="datetime-local"],
	input[type="date"], input[type="month"], input[type="time"],
	input[type="week"], input[type="number"], input[type="email"],
	input[type="url"] {
		font-size: 16px !important;
	}
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
	select, textarea, input[type="text"], input[type="password"],
	input[type="datetime"], input[type="datetime-local"],
	input[type="date"], input[type="month"], input[type="time"],
	input[type="week"], input[type="number"], input[type="email"],
	input[type="url"] {
		font-size: 16px !important;
	}
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
	select, textarea, input[type="text"], input[type="password"],
	input[type="datetime"], input[type="datetime-local"],
	input[type="date"], input[type="month"], input[type="time"],
	input[type="week"], input[type="number"], input[type="email"],
	input[type="url"] {
		font-size: 16px !important;
	}
}