@import 'fonts';
@import 'default';

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: $color-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);


    .container-fluid {
        padding: 0 25px;
    }

    .red_image_header {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav_block {
        padding: 25px 0 10px 0;

        &.left {
            margin-right: 40px;
        }

        &.right {
            margin-left: 40px;
        }

        .top_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 15px;
            border-bottom: 1px solid #d8d8d8;

            &.socials {
                justify-content: flex-end;

                .ico_container {
                    margin-right: 40px;
                }
            }

            .ico_container {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .text {
                a {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .nav_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 12px;

            a {
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }

    .logo_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

main {
    .section_main {
        position: relative;
        margin-top: 102px;

        .section_image {
            position: relative;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }

            .block_description {
                .title {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    &.first {
                        top: 60px;
                        left: 55%;
                        h1 {
                            font-size: 21px;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: #6e543d;
                            letter-spacing: 0.6px;
                            padding: 12px;
                            background-color: $color-white;
                        }
                    }
                    &.second {
                        top: 160px;
                        h1 {
                            color: #fefefe;
                            font-size: 41px;
                            font-weight: 400;
                            line-height: 1;
                            letter-spacing: 0.46px;
                        }
                    }
                    &.third {
                        top: 225px;
                        left: 53%;
                        h1 {
                            color: #6e543d;
                            font-family: "Vogue Highline Serif";
                            font-size: 118px;
                            font-weight: 500;
                            line-height: 1;
                            letter-spacing: 1.44px;
                        }
                    }
                    &.last {
                        bottom: 130px;
                        width: 100%;
                        max-width: 390px;
                        left: 55%;
                        h1 {
                            color: #6e543d;
                            font-size: 22px;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 0.6px;
                            text-align: center;
                        }
                    }
                }
                .main_btn {
                    position: absolute;
                    left: 55%;
                    transform: translateX(-50%);
                    bottom: 60px;
                    .btn_request {
                        width: 220px;
                        background-color: $color-brown;
                        text-transform: uppercase;
                        font-size: 18px;
                        padding: 13px 0;
                        color: $color-white;
                    }
                }
            }
        }

        .bottom_info {
            padding: 20px 0;
            height: 100%;
            background-color: $color-brown;

            .container, .row, .col-4 {
                height: 100%;
            }

            .col-4 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;

                .ico_container {
                    margin-right: 15px;
                }

                .text {
                    p {
                        font-size: 18px;
                        color: $color-white;
                        text-align: center;
                    }
                }
            }
        }
    }

    .section_questions {
        padding: 80px 0;

        .section_title {
            margin-bottom: 30px;

            h1 {
                font-family: "Vogue Highline Serif";
                font-size: 30px;
                line-height: 40px;
                text-align: center;
                color: $color-black;
                text-shadow: $color-black 1px 0px 0px;
            }
        }

        .section_sub_title {
            padding: 13px 0;
            background-color: $color-brown-light;
            margin-bottom: 40px;

            h3 {
                font-size: 20px;
                font-weight: 300;
                text-align: center;
            }
        }

        .section_image {
            height: 400px;
            margin-bottom: 60px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .questions_block {
            margin-bottom: 60px;

            .col-xl-4 {
                display: flex;
                flex-direction: row;
                align-items: center;

                .ico_container {
                    display: flex;
                    flex-grow: 2;
                    width: auto;
                    height: 130px;

                    img {
                        width: auto;
                        height: 100%;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding-left: 25px;

                    p {
                        font-size: 22px;

                        span {
                            background-color: $color-brown-light;
                        }
                    }
                }
            }
        }

        .section_bottom_title {
            position: relative;
            padding: 10px 15px;
            background-color: $color-brown-light;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border: 1px solid #9b9b9b;
                transform: translate(20px, 20px);
                z-index: -1;
            }

            h1 {
                font-family: "Vogue Highline Serif";
                font-size: 31px;
                text-align: center;
                text-shadow: $color-black 1px 0px 0px;
            }
        }
    }

    .section_speaker {
        padding-bottom: 80px;
        overflow: hidden;

        .section_title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                transform: rotate(-90deg);
                opacity: 0.4;
                font-family: 'Vogue Highline Serif';
                font-size: 48px;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        .speaker_image {
            width: 100%;
            padding-right: 75px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .speaker_info {
            height: 100%;
            display: flex;
            flex-direction: column;

            .block_title {
                position: relative;
                margin-bottom: 30px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 9999px;
                    background-color: $color-brown-light;
                    z-index: -1;
                }

                h1 {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 36px;
                    text-shadow: #4a4a4a 1px 0px 0px;
                    padding-left: 30px;
                }
            }

            .block_info {
                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;

                    span {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .section_inst {
        padding-bottom: 30px;

        .section_title {
            margin-bottom: 30px;
            text-align: center;

            a {
                display: inline-block;
                font-family: "Vogue Highline Serif Medium";
                font-size: 33px;
                text-shadow: #4a4a4a 1px 0px 0px;
            }
        }

        .row {
            .col-4 {
                padding-right: 30px;
            }
        }

        .inst_block {
            margin-bottom: 50px;
            cursor: pointer;
            transition: opacity 0.5s ease-out;

            &:hover {
                opacity: 0.7;
            }

            .image_container {
                width: 100%;
                height: 360px;
                margin-bottom: 15px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
            }

            .tag {
                p {
                    font-size: 30px;
                    word-break: break-word;
                    text-align: center;
                }
            }
        }
    }

    .section_review {
        .section_title {
            margin-bottom: 30px;

            h1 {
                text-align: center;
                font-family: "Vogue Highline Serif Medium";
                font-size: 30px;
                text-shadow: #4a4a4a 1px 0px 0px;
                margin-bottom: 5px;
            }

            h4 {
                text-align: center;
                font-size: 18px;
                font-weight: 300;
                width: 100%;
                max-width: 530px;
                margin: 0 auto;
            }
        }

        .review_block {
            padding: 20px 0 30px;
            background-color: $color-black;

            .container {
                .row {
                    &:nth-child(2) {
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 25px;
                            bottom: 0;
                            right: 0;
                            border: 1px solid #ffffff;
                        }
                    }
                }
            }

            .reviewer_info {
                margin-bottom: 20px;

                .name {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 36px;
                    text-shadow: #ffffff 1px 0px 0px;
                    color: $color-white;
                }

                .info {
                    color: $color-white;
                    font-size: 16px;
                }
            }

            .reviewer_image {
                position: absolute;
                top: -75px;
                left: 0;
                width: 300px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .review_quote {
                position: relative;

                .quote_ico {
                    position: absolute;
                    width: 43px;
                    z-index: 2;

                    &.left {
                        top: -20px;
                        left: -85px;
                    }

                    &.right {
                        bottom: -10px;
                        right: -15px;
                        transform: rotate(-180deg);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    font-size: 24px;
                    font-weight: 300;
                    color: $color-white;
                    padding: 20px 30px 20px 0;
                }
            }
        }

        .review_video {
            padding: 30px 0 85px;
            text-align: center;

            video {
                display: flex;
                width: 770px;
                height: 430px;
                margin: 0 auto;
            }
        }
    }

    .section_review_photo {
        padding-bottom: 80px;

        .section_title {
            margin-bottom: 40px;

            h1 {
                font-family: "Vogue Highline Serif Medium";
                font-size: 30px;
                text-align: center;
                text-transform: uppercase;
                text-shadow: #4a4a4a 1px 0px 0px;
            }
        }

        .row {
            .col-4 {
                padding-right: 30px;
            }
        }

        .image_container {
            position: relative;
            cursor: pointer;
            transition: opacity 0.5s ease-out;

            &:hover {
                opacity: 0.7;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $color-brown-light;
                transform: translate(10px, 10px);
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .section_program {
        .section_title {
            margin-bottom: 100px;

            h1 {
                font-family: "Vogue Highline Serif Medium";
                font-size: 30px;
                text-shadow: #4a4a4a 1px 0px 0px;
                text-align: center;
            }
        }

        .row {
            margin-bottom: 100px !important;

            &.second {
                margin-bottom: 130px !important;

                .program_info {
                    .title_date {
                        padding-left: 80px;
                    }

                    .program_text {
                        border: none;
                        background-color: $color-brown-light;
                        padding: 50px 0;

                        ul {
                            padding-left: 80px;
                            padding-right: 35px;
                        }
                    }
                }
            }

            &.last {
                margin-bottom: 0px !important;

                .program_info {
                    .program_text {
                        border: none;
                        padding-bottom: 0;

                        ul {
                            padding-left: 20px;
                            padding-right: 125px;
                            margin-bottom: 20px;
                        }
                    }
                }

                .program_images {
                    .image_container {
                        top: unset;
                        transform: none;
                        bottom: 0;
                        height: 375px;
                    }

                    .first {
                        z-index: 2;
                    }

                    .second {
                        margin-top: -30px;
                        z-index: 1;
                        transform: translateY(-30px);
                    }
                }
            }
        }

        .program_info {
            .title_date {
                transform: translateY(10px);

                h1 {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 33px;
                    text-shadow: #4a4a4a 1px 0px 0px;
                }
            }

            .program_text {
                border: 1px solid #9b9b9b;
                padding: 30px 0;

                ul {
                    padding-left: 60px;
                    padding-right: 50px;
                    margin-bottom: 0;

                    li {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }

                .btn_request {
                    .custom_btn {
                        width: 350px;
                        font-size: 14px;
                        font-weight: 300;
                        background-color: #fae5e8;
                        text-align: center;
                        padding: 12px 0;
                        cursor: pointer;
                        box-shadow: none;
                        border: none;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        .program_images {
            .image_container {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 270px;
                height: 400px;

                &.first {
                    left: 0;
                }

                &.second {
                    margin-top: 30px;
                    right: 0;
                    z-index: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .section_request {
        padding: 70px 0;
        margin-top: 45px;
        background: url('../images/request/записаться на семинар.jpg') no-repeat center center;
        background-size: cover;

        .request_block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                margin-bottom: 40px;

                h1 {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 33px;
                    color: $color-white;
                    text-shadow: #fff 1px 0 0;
                }
            }

            .form_container {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 350px;
                margin: 0 auto;

                input {
                    font-size: 14px;
                    font-weight: 300;
                    color: $color-white;
                    border: 1px solid #ffffff;
                    margin-bottom: 25px;
                    padding: 12px 13px;
                    background-color: transparent;

                    &.error {
                        border: 1px solid #df0000;
                        &::placeholder {
                            color: #df0000;
                        }
                    }

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 300;
                        color: $color-white;
                    }
                }

                .btn_send {
                    .custom_btn {
                        width: 100%;
                        border: none;
                        background-color: $color-brown-light;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 300;
                        padding: 12px 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .section_work {
        padding: 65px 0;

        .section_title {
            margin-bottom: 15px;

            h1 {
                font-family: "Vogue Highline Serif Medium";
                font-size: 33px;
                text-shadow: $color-black 1px 0 0;
                text-align: center;
            }
        }

        .day_graphic {
            margin-bottom: 35px;

            .title {
                margin-bottom: 10px;

                h1 {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 33px;
                }
            }

            .day_program {
                box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.37);
                background-color: #ffffff;
                padding: 30px 15px 15px 30px;

                .list {
                    margin-bottom: 20px;
                    max-height: 40px;
                    overflow: hidden;
                    transition: all 0.7s ease-out;

                    &.fullShow {
                        max-height: 300px;
                    }

                    li {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }

                .show_more {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &.isShow {
                        .arrow_ico {
                            transform: rotate(-180deg);
                            transition-delay: 0s;
                        }
                    }

                    p {
                        font-size: 16px;
                        font-weight: 300;
                        margin-bottom: 5px;
                    }
                    .arrow_ico {
                        transition: transform 0.7s ease-out 0.4s;
                    }
                }
            }
        }
    }

    .section_certificate {
        background-color: $color-brown-light;
        padding: 95px 0;

        .row {
            position: relative;
            .col-5 {
                overflow: hidden;
            }
        }

        .image_container {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            img {
                width: 100%;
                height: 350px;
            }
        }

        .about_block {
            transform: translateX(50px);

            p {
                font-size: 18px;
                font-weight: 300;

                &.bold {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 26px;
                }
            }
        }
    }

    .section_seminar_info {
        padding: 100px 0 55px 0;

        .info_block {
            margin-bottom: 50px;

            .image_container {
                text-align: center;
                margin-bottom: 25px;

                img {
                    width: auto;
                    height: auto;
                }
            }

            .text_info {
                p {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }

        .btn_request {
            text-align: center;

            .custom_btn {
                border: none;
                width: 350px;
                background-color: $color-black;
                font-size: 14px;
                font-weight: 300;
                color: $color-white;
                padding: 12px 0;
                cursor: pointer;
            }
        }
    }

    .section_gallery {
        padding-bottom: 80px;

        .section_title {
            margin-bottom: 25px;
            text-align: center;

            h1 {
                position: relative;
                display: inline-block;
                font-family: "Vogue Highline Serif Medium";
                font-size: 33px;
                text-shadow: $color-black 1px 0 0;
                background-color: $color-white;
                padding: 12px 25px;
                z-index: 2;
            }
        }

        .row {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: -55px;
                left: -25px;
                right: -25px;
                bottom: -10px;
                border: 1px solid #979797;
            }

            .col-4 {
                margin-bottom: 30px;
            }
        }

        .image_container {
            height: 350px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section_price {
        background: url("../images/стоимость.jpg") no-repeat center;
        background-size: cover;
        padding: 50px 0 120px 0;

        .section_title {
            margin-bottom: 60px;

            h1 {
                font-family: "Vogue Highline Serif Medium";
                font-size: 33px;
                text-shadow: $color-black 1px 0 0;
                text-align: center;
            }
        }

        .price_block {
            position: relative;
            margin-bottom: 30px;

            .price_row {
                display: flex;
                flex-direction: row;
                align-items: center;

                .price_circle {
                    position: relative;
                    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
                    background-color: $color-brown-light;
                    width: 260px;
                    height: 260px;
                    border-radius: 50%;

                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 48px;
                        font-weight: 300;
                        letter-spacing: -2.67px;

                        span {
                            font-size: 36px;
                            font-weight: 300;
                        }
                    }
                }

                .price_days {
                    margin-left: 60px;

                    &.left {
                        margin-left: 100px;
                        margin-right: 60px;
                    }

                    p {
                        font-family: "Vogue Highline Serif Medium";
                        font-size: 40px;
                        text-shadow: $color-black 1px 0 0;
                    }
                }
            }

            .text_places {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                width: 100%;
                max-width: 550px;
                padding: 15px 30px;
                border: 3px solid #df0000;
                background-color: #ffffff;
                transform: translateY(-50%) rotate(-10deg);
                z-index: 2;

                p {
                    font-family: "Vogue Highline Serif Medium";
                    font-size: 24px;
                    color: #df0000;
                    text-shadow: #df0000 1px 0 0;
                    text-align: center;
                }
            }
        }

        .bottom_request {
            width: 100%;
            max-width: 350px;

            .text {
                margin-bottom: 20px;

                p {
                    font-size: 20px;
                    line-height: 26px;
                    text-align: center;
                }
            }

            .request_btn {
                .custom_btn {
                    width: 100%;
                    background-color: $color-black;
                    color: $color-white;
                    font-size: 24px;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 18px 0;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .section_discount {
        background-color: $color-black;
        padding: 50px 0;

        .title_about {
            width: 100%;
            max-width: 730px;
            margin: 0 auto 25px auto;

            h1 {
                font-size: 24px;
                color: $color-white;
                text-align: center;
            }
        }

        .form_container {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 350px;
            margin: 0 auto;

            input {
                width: 100%;
                border: 1px solid #ffffff;
                padding: 12px 13px;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 25px;
                color: $color-white;
                background-color: transparent;

                &.error {
                    border: 1px solid #df0000;
                    &::placeholder {
                        color: #df0000;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .btn_discount {
                width: 100%;
                font-size: 16px;
                background-color: #df0000;
                color: $color-white;
                text-align: center;
                padding: 10px 0;
                border: none;
                cursor: pointer;
            }
        }
    }

    .section_map {
        position: relative;

        .map_container {
            width: 100%;
            height: 800px;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .container {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            z-index: 2;
        }

        .address_info {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $color-white;
            padding: 12px 65px;
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);

            h1 {
                font-family: "Vogue Highline Serif Medium";
                font-size: 33px;
                text-shadow: $color-black 1px 0 0;
                text-align: center;
            }

            .ico_container {
                width: 40px;
                margin: 0 20px;
            }

            .text {
                font-size: 24px;
                font-weight: 300;
                text-align: center;
            }
        }
    }
}

footer {
    padding: 50px 0;
    background-color: $color-black;
    margin-bottom: 25px;

    .nav_list {
        display: flex;
        flex-direction: column;

        a {
            display: inline-block;
            color: $color-white;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .logo_container {
        position: absolute;
        top: -65px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        z-index: 2;
    }

    .right_block {
        .socials_row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 20px;

            .ico_container {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .info_block {
            .info_row {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                .ico_container {
                    margin-right: 15px;

                    img {
                        height: 20px;
                    }
                }

                p {
                    font-size: 20px;
                    font-weight: 300;
                    color: $color-white;
                    width: 230px;
                    word-break: break-word;
                    text-align: right;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    header .nav_block.left {
        margin-right: 20px;
    }

    header .nav_block.right {
        margin-left: 20px;
    }

    main .section_main .bottom_info .container {
        max-width: 100%;
    }

    main .section_main .section_image .block_description {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .section_main .section_image .block_description .title {
        position: relative;
        transform: none;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: 20px;
        &.first {
            h1 {
                font-size: 20px;
            }
        }
        &.second {
            h1 {
                font-size: 36px;
            }
        }
        &.third {
            h1 {
                font-size: 90px;
            }
        }
        &.last {
            h1 {
                font-size: 20px;
            }
        }
    }

    main .section_main .section_image .block_description {
        .main_btn {
            position: relative;
            left: 0;
            transform: none;
            bottom: 0;
        }
    }

    main .section_review .review_block .reviewer_image {
        position: relative;
        top: 0;
        margin: 30px auto 0 auto;
    }
    main .section_review .review_block .container .row:nth-child(2):before {
        left: 0;
    }

    main .section_review .review_block .review_quote p {
        padding-left: 30px;
    }
    main .section_review .review_block .review_quote .quote_ico.left {
        left: -20px;
    }

    main .section_program .section_title {
        margin-bottom: 30px;
    }

    main .section_inst .container {
        max-width: 850px;
    }

    main .section_inst .inst_block .image_container {
        height: 420px;
    }

    main .section_program .program_images .image_container {
        position: relative;
        top: 0;
        transform: none;
    }

    main .section_program .program_images .image_container.first {
        margin-left: 15%;
    }

    main .section_program .program_images .image_container.second {
        position: absolute;
        right: 15%;
        margin-top: -30px;
    }
}